body, select {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Bangers', cursive;
}


body{
    display:block;
    backround-color :rgb(245,245,245);
    margin:0;
}
#subh2{
    position: fixed;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    letter-spacing: 1px;
    text-shadow: 2px 1px rgb(206, 207, 212);
    opacity: 0.7;
    left: 28%;
    top: 60%;
}

/*TOP BLUE LINE + APP AND PROJECT NAME*/
#topNav{
    overflow: hidden;
    list-style-type: none;
   /* background-color: rgb(0,188,212);*/
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
   /*  height:100%; */
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 2px gray;
}
#topNav li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
#projectName{

    font-family: 'Gloria Hallelujah', cursive;
    font-size:100%;
    margin-bottom: 10px;
   margin-left:30%;
    margin-top: 10px;
    padding-top:5px;
    /*text-shadow: 2px 1px black;*/
    text-transform: uppercase;

}
#topMenu{

    color: white;
    letter-spacing: 2px;
    font-family: 'Bangers', cursive;
    font-size: 2em;
    letter-spacing: 4px;
    text-decoration: none;
    padding-bottom: 5px;
    padding-right: 1px;
    padding-left:3px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right:10%;
    /*text-shadow: 2px 1px black;*/
    text-transform: uppercase;
   /* box-shadow: 2px 2px 2px black;*/
}
#topMenu img{
    margin-top:4px;
    padding-right:20px;
    padding-left: 10px;

}
/*END OF BLUE LINE*/

/*NAV MENU*/
#nav li a {
    display: block;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 140%;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
#nav img{
    height: 10%;
}
#nav li a.active {
    background-color: #86d5f8;
    color: dodgerblue;
}
#nav li a.active,img{
    color:#86d5f8;
}

#nav li a.active {
    background-color: lightgrey;
    color: dodgerblue;
}
.active{
    box-shadow: 2px 2px 2px rgb(240,240,240);
}
#nav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 13%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 3px 3px 3px rgb(240,240,240);
}

#tooltipSideNav{
    position: fixed;
    right: 4%;
    top: 2%;
}

/*MODELS */
#charactermodel ,#storychart {
    margin-top: 1px;
    position: absolute;
   /* padding-bottom: 20px;*/
    left: 14.1%;
    width: 85.9%;
    top: 6%;
    height: 92%;
   /* border: 2px solid black;*/
}



#nodeOperation,#edgeOperation {
    font-size: 28px;
}
#node-popUp {
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
    position: absolute;
   /* position: relative;*/
    z-index: 299;
    top: 10%;
    left: 40%;
    width: 300px;
    height: 220px;
  /*  width: 93%;
    height: 25%;*/
    background-color: rgba(250,250,250,0.9);
    border-style: groove;
    border-width: 5px;
    border-color: #5394ed;
    padding: 10px;
    margin-top:5%;
    text-align: center;
}
#edge-popUp {
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
    /*position: relative;*/
    z-index:299;
    position: absolute;
    top: 10%;
    left: 40%;
    /*z-index: 299;
     width: 250px;
    height: 120px;*/
    background-color: rgba(250,250,250,0.2);
    border-style: groove;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    margin-top: 5%;
    text-align: center;
}



/*HOME SCREEN ASSETS*/
h1{
    position:fixed;
    /*font-family: 'Gloria Hallelujah', cursive;*/
    font-family: 'Bangers', cursive;

    font-size: 4em;
    letter-spacing: 1px;
    text-shadow: 2px 1px rgb(206, 207, 212);
    opacity: 0.7;
    left:30%;
    top:7%;
}

.namesPane {
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
    position: fixed;
    /*top: 450px;
    left: 770px;*/
    left:50%;
    top:40%;
    z-index: 299;
    width: 250px;
    height: 80px;
    background-color: rgb(250,250,250);
    border-style: groove;
    border-width: 5px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}

/*HOME BUTTONS */
#buttons{
    display: block;
    position:fixed;
    text-align: center;
    left:20%;
    top:250px;
    font-family: 'Gloria Hallelujah', cursive;



}
.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: .8em 1.4em;
    padding-right: 4.7em;
    background: #009ED8;
    border: none;
    color: white;
    transition: .2s;

}
.button:before,
.button:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 2.2em;
    text-align: center;
    transition: .2s;
    transform-origin: 50% 60%;
    vertical-align: middle;
}
.button:before {
    background: rgba(0, 0, 0, 0.1);
}
.button:hover {
    background: #0079a5;
}
.button:active,
.button:focus {
    background: #002e3f;
    outline: none;
}

/*Constraints*/
.button {
    font-family: 'Bangers', cursive;
    min-width: 20em;
    min-height: 3.6em;
    font-size: 25px;
    box-shadow: 10px 5px 3px rgb(223, 223, 223);
}
.arrow2 {
    background: #455A64;

}
.arrow2:hover {
    background: #CFD8DC;
}
.arrow2:active,
.arrow2:focus {
    background: #BDBDBD;
}
.arrow2:after {
    content: "\F054";
}
.arrow2:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
}

/*-----------------*/
.save {
    background: #455A64;

}
.save:hover {
    background: #CFD8DC;
}
.save:active,
.save:focus {
    background: #BDBDBD;
}
.save:after {
    content: "\f0c7";
}
.save:hover:after {
    -webkit-animation: wiggle .3s alternate ease infinite;
    animation: wiggle .3s alternate ease infinite;
}
/*-----------------*/
.load {
    background: #455A64;

}
.load:hover {
    background: #CFD8DC;
}
.load:active,
.load:focus {
    background: #BDBDBD;
}
.load:after {
    content: "\f15c";
}
.load:hover:after {
    -webkit-animation: bounceup .3s alternate ease infinite;
    animation: bounceup .3s alternate ease infinite;
}


@-webkit-keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(3px);
    }
}
@-webkit-keyframes bounceup {
    from {
        -webkit-transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-5px);
    }
}
@-webkit-keyframes wiggle {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(30deg);
    }
}
@keyframes bounceright {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(3px);
    }
}
@keyframes bounceup {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}
@keyframes wiggle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(30deg);
    }
}


/*END OF HOME BUTTONS */

/*BLACKOUT*/

#blackout {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;

    width:100%;
    height:100%; /* make sure you have set parents to a height of 100% too*/
    position: absolute;
    left:0; top:0;
    z-index:10; /*just to make sure its on top*/
    background-color: rgba(255, 193, 7, 0.4);
    /*style='background-image:url("img/network/someSemiTransparent.png"); display:none;'*/
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* ENO OF BLACKOUT*/













footer{
    position:fixed;
    bottom:1%;
    left:5px;
    font-size:20px;
    letter-spacing: 1px;
}

input[type=file] {
    width: 1px;
    visibility: hidden;
    left:50%;
}





/*SIDENAV*/
.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 10;
    top: 9.5%;
    right: 0;
    /*background-color: rgb(240,240,240);*/





    background: rgba(255,193,7,0);
    background: -moz-linear-gradient(top, rgba(255,193,7,0) 0%, rgba(255,193,7,1) 100%);
    background: -webkit-gradient(linear,left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,193,7,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,193,7,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,193,7,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,193,7,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,193,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#16afca', GradientType=0 );









    overflow-x: hidden;
    transition: 0.3s;
   /* padding-top: 56px;*/
    box-shadow: 20px 2px 2px red;/*doesnt work :( */

}
span .listspan{
    margin-top:15%;

}

.sidenav a {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    text-shadow: 2px 1px rgb(220, 217, 147);
    padding: 2% 2% 2% 5%;
    text-decoration: none;
    font-size: 150%;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: rgba(255,193,7,1);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#title {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-size:20px;
    color:#FFFFFF;
    letter-spacing: 3px;
    padding-left: 30px;
    position: fixed;
    margin:0;
    margin-bottom: 20px;
    top: 10px;
    box-shadow: #1c1c1c;
}
#sidetitle{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    color:#FFFFFF;
    letter-spacing: 2px;
    font-size: 15px;
    padding-left: 30px;
    position: fixed;
    padding-bottom: 40px;
    top: 20px;
}

.line-separator{

    height:0.2px;

   /* background:#717171;*/

    border-bottom:1px solid #313030;

}

/* Properties pane */
#properties{

    position: absolute;
    /*bottom:30px;
    right:40px;*/
    width: 95%;
    top:25%;
    border: 1px solid black;
    background-color: rgba(14,147,222,0.5);
}
#properties tr:nth-child(even){background-color: #eef2ff
}
#fileClose{
    position: absolute;
    bottom:120px;
    right:21.5px;
    cursor: pointer;
}

#pricing-table {
    bottom: -10px;
    position: fixed;
    text-align: center;
    display:block;
    /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(207,216,220, 0.8);
    background: #CFD8DC; /* down color */
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 70%;
    /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */
    float: left;
    position: relative;
}

#pricing-table #most-popular {
    z-index: 2;
    top: -13px;
    height:70px;
    border-width: 3px;
    padding: 30px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}



/* --------------- */

#pricing-table h3 {
    font-size: 130%;
    font-weight: normal;
    padding: 10px;
    /*margin: -10px -10px 20px -10px;*/
    background-color: #e9eeeb;
    /* gradient up colors */
    background-image: -moz-linear-gradient(#fff,#eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
    background-color: #607D8B;
    background-image: -moz-linear-gradient(#607D8B, #CFD8DC);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#607D8B), to(#CFD8DC));
    background-image: -webkit-linear-gradient(#607D8B, #CFD8DC);
    background-image: -o-linear-gradient(#607D8B, #CFD8DC);
    background-image: -ms-linear-gradient(#607D8B, #CFD8DC);
    background-image: linear-gradient(#607D8B, #CFD8DC);
    margin-top: -30px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#pricing-table h3 span {
    display: block;
    font-family: 'Bangers', cursive;
    color: #757575; /* text color */
    background: #fff;
    border: 5px solid #fff;
    height: 40px;
    width: 40px;
    margin: 10px auto -65px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #2a9599 inset;
    -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
    box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #899932 inset;
}


#pricing-table h3 span div{
    position: relative;
    top: 20%;
    font-size: 150%;
}

/* --------------- */


.clear:before, .clear:after {
    content:"";
    display:table
}

.clear:after {
    clear:both
}
.clear {
    zoom:1
}








/* END OF SIDENAV */


/*METRICS STYLE*/
#metricsTitle{
    font-size: 1.4em;
}

#theTable{
position: fixed;
    left:20%;
}
.metricTable{
    padding: 20px;
}

#theTable tr td{
    padding: 10px;
}


.wrapper {
    margin: 0 auto;
    padding: 40px;
     /*max-width: 400px;   The style is configured from coreApp.js*/
    position: absolute;
    left: 15%;
    z-index: -1;
    letter-spacing: 2px;
    top: 8%;
    transition-duration: 2s;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}
@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}
.row:nth-of-type(odd) {
    background: #e9e9e9;
}
.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}
.row.green {
    background: #27ae60;
}
.row.blue {
    background: #2980b9;
}
@media screen and (max-width: 580px) {
    .row {
        padding: 8px 0;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
    width: 300px;

}
@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 12px;
        display: block;
    }
}






.camvas2d{
    display: inline-block;
    position: absolute;
    bottom: 10%;
    width:55%;
    height: 75%;
}

#chart2{
    right:0.5%;
}



#gradient
{
    width: 100%;
    height: 1000px;
    padding: 0px;
    margin: 0px;
}


/*COLOURS*/

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


